doctype
html
  head
    meta(charset="utf-8")
    title NUHacks Mentors List
    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    )
    link(rel="stylesheet" href="css/main.css")
    link(
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Lato:300,400,900"
    )
    meta(name="viewport" content="width=device-width")
  body
    .container-fluid
      != yield
