for slug in public._data
  .row
    .col-xs-12
      if slug.www
        h1 #{ slug.name} 
          a(href="#{ slug.www }" target="_blank") 
            small (website)
      else
        h1= slug.name
  .row
    .col-sm-3.social
      if slug.github
        a(href="https://www.github.com/#{ slug.github}" class="github")
          img(src="img/github.png")
      if slug.twitter
        a(href="https://www.twitter.com/#{ slug.twitter}" class="twitter")
          img(src="img/twitter.png")   
    .col-sm-9
      p= slug.desc

      P Open to chatting about
      ul
        each interest in slug.interests
          li= interest