.row
  div(class="col-md-10 col-md-offset-1")
    .head-title
      h1 NU Hacks: List of Mentors
    h1 What is this?!
    p.
      This is a list of people in, on, or around the NUHacks community who 
      wouldn't mind talking about things with people. Want to learn a 
      thing? Hit up someone with similar interests! Want to mentor an 
      underclassman or five?
      #[a(href="https://github.com/hacks/mentors") Fork the repo].
.row.mentors
  div(class="col-md-10 col-md-offset-1")
    for slug in public._data
      .row
        .col-xs-12
          if slug.www
            h1.mentorName #{ slug.name } 
              small 
                a(href="#{ slug.www }" target="_blank") (website)
              if slug.ccis
                span.label.label-info CCIS: #{ slug.ccis } 
          else
            h1.mentorName #{ slug.name }
              if slug.ccis
                span.label.label-info CCIS: #{ slug.ccis } 
      .row
        .col-sm-3.social
          if slug.github
            a(href="https://www.github.com/#{ slug.github }" class="github")
              img(src="img/github.png")
          if slug.twitter
            a(href="https://www.twitter.com/#{ slug.twitter }" class="twitter")
              img(src="img/twitter.png")
          if slug.email
            a(href="mailto:#{ slug.email }" class="email")
              img(src="img/gmail.png")   
        .col-sm-9
          p= slug.desc

          .row
            .col-sm-6.col-xs-12
              p I've got experience with the following:
              ul
                each lang in slug.langs
                  li= lang
            .col-sm-6.col-xs-12
              p Open to chatting about:
              ul
                each interest in slug.interests
                  li= interest
